eip/*
bkps/*
logs/
release_stuff/etc/eptssync/process_status/
release_stuff/etc/eptssync/pojo/
release_stuff/etc/eptssync/conf/source_sync_config.tmp.json
eip.prod.env
eip.test.env
eip.env
.bash_history
.bash_logout
.bashrc
.cache/
.profile
.sudo_as_admin_successful
.viminfo
shared/
.debezium/
old_stuff/

do_git_jobs.sh
